.about-container {
  display: flex;
  align-items: center;
}

.about-left {
  margin-right: 2rem;
  & p {
    max-width: 60ch;
  }
}

.about-right {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-left: auto;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: center;
  & img {
    width: 100%;
    max-width: 35rem;
  }
  & div {
    margin-left: auto;
    text-align: right;
    max-width: 40ch;
  }
}

.process-items {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 4rem;
}

.process-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  &__num {
    font-size: 5rem;
    min-width: 7rem;
    margin-right: 1rem;
  }
  &__text {
  }
  &__img {
    margin-left: auto;
  }
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50ch;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 50rem) {
  .about-left {
    margin-right: 0rem;
  }
  .about-container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about-right {
    margin: 3rem auto 0 auto;
  }
}
