.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.menu a {
  margin-right: 5px;
}

.main-nav-sticky {
  position: fixed;
  top: 0;
}

.main-nav {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88.23px;
  background-color: rgba($color: #fff, $alpha: 0.8);
  &__logo {
    margin-right: auto;
    padding-right: 3.5rem;
    & img {
      width: 100%;
      max-width: 4rem;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    & ul {
      list-style: none;
      font-size: 1rem;
      margin-right: 2.5rem;
      & li {
        display: inline;
        margin-left: 1.5rem;
        & a {
          text-decoration: none;
          text-transform: none;
          color: var(--clr-primary-600);
          transition: color 200ms ease;
          &:hover,
          :active {
            color: var(--clr-primary-900);
          }
        }
      }
      & .active {
        color: var(--clr-primary-900);
      }
    }
  }
}

.mobile-nav-toggle {
  display: none;
}

@media screen and (max-width: 55em) {
  .main-nav {
    &__links {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0 0 0 0;
      background: hsla(0, 0%, 100%, 0.5);
      backdrop-filter: blur(1.5rem);
      z-index: 45;
      & ul {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1rem;
        margin: 0 0 1.5rem 0;
        & li {
          margin: 0;
          font-size: var(--fs-600);
          font-weight: var(--fw-700);
        }
      }
      opacity: 0;
      transition: opacity backdrop-filter 500ms ease;
    }
  }

  .main-nav__links[data-visible="true"] {
    display: flex;
    & ul {
      display: flex;
    }
    opacity: 1;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("../../icons/menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    width: 2.5rem;
    aspect-ratio: 1;
    z-index: 9999;
    top: 1.9rem;
    right: 1.25rem;
    cursor: pointer;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("../../icons/x.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
