/* UTILITIES */
.flow > * + * {
  margin-top: 1.75rem;
}

.mt-xl {
  margin-top: 2em;
}
.mt-l {
  margin-top: 1.5em;
}
.mt-m {
  margin-top: 1em;
}
.mt-s {
  margin-top: 0.5em;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* GENERAL LAYOUT */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 90rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.mini-container {
  max-width: 50rem;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 2.5rem 0;
}

@media screen and (min-width: 50em) {
  section {
    padding: 5rem 0;
  }
}
